# Copia este archivo como ".env" y ajusta los valores si es necesario.

# Prisma soporta el formato de connection string nativo de PostgreSQL.
# Ver documentación: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sabor_coreano"
